HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
web/src/actions/userActions.js
web/src/App.js
web/src/components/Navbar.js
web/src/pages/Login.js
web/src/pages/Register.js
web/src/pages/SignUp.js
web/src/reducers/authReducer.js
web/src/reducers/index.js
web/src/reducers/userReducer.js
web/src/services/firebase.js
web/src/components/Navbar.js
web/src/App.js
web/src/pages/Login.js
web/src/pages/SignUp.js
web/src/reducers/authReducer.js
web/src/reducers/index.js
web/src/services/firebase.js
