body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #18191A;
    color: #f0f0f0;

    
  }
  
  p {
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    background: #242526;
  }
  
  nav section {
    width: 100%;
  }
  
  nav a {
    font-weight: 700;
    padding: 1rem 1.5rem;
    border-radius: 4px;
  }
  
  nav a:first-of-type {
    margin-left: -1.5rem;
  }
  
  nav a:hover {
    background: rgb(153, 153, 153);
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
  }
  
  section h1 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: #f0f0f0;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  .question h2 {
    font-size: 2.5rem;
  }
  
  .question-excerpt {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .question-excerpt:first-of-type {
    padding-top: 0;
  }
  
  .question-excerpt h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .answer {
    background: #3A3B3C;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
  }
  
  .button {
    display: inline-block;
    background: #2CAD21;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
  }

  .right {
    float: right;
  }
  
  .delete {
    float: right;
    background-color: #d41e1e;
  }
  .delete1 {
    float: right;
    margin-top: 35px;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #242526;
    color: white;
    text-align: center;
  }

  .title-footer{
    font-size: 15px;
  }

  .titulo{
    text-align: center;

  }
  .login{
    background-color: #c7433e;
    margin-top: 65px;

  }

  .notShowDeleteButton{
    display: none;
  }


  .public-DraftStyleDefault-ltr{
    background-color: #3A3B3C;
  }

  .logo{
    width: 60px;
    margin-right: -100px;
    margin-left: 100px;
   
  }